<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết Hóa đơn</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="mb-4 text-center">Chi tiết Hóa đơn</h1>

    <!-- Thông tin hóa đơn -->
    <div>
        <h4>Thông tin đơn hàng</h4>
        <p><strong>Mã đơn hàng: </strong><span th:text="${order.id}"></span></p>
        <p><strong>Khách hàng: </strong><span th:text="${order.user.fullname}"></span></p>
        <p><strong>Tổng tiền: </strong><span th:text="${order.getFormattedPrice()}"></span></p>
        <p><strong>Trạng thái: </strong><span th:text="${order.status}"></span></p>
        <p><strong>Ngày tạo: </strong><span th:text="${#dates.format(order.order_date, 'yyyy-MM-dd HH:mm')}"></span></p>
    </div>

    <!-- Chi tiết các sản phẩm trong đơn hàng -->
    <h4>Danh sách các sản phẩm</h4>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detail : ${orders}">
                <td th:text="${detail.product.title}"></td>
                <td th:text="${detail.num}"></td>
                <td th:text="${detail.getFormattedPrice()}"></td>
                <td th:text="${detail.getFormattedPriceTotal_money()}"></td>
            </tr>
        </tbody>
    </table>

    <!-- Nút quay lại -->
    <a th:href="@{/backdanhsach}" class="btn btn-primary">Quay lại danh sách</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
