<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assers/css/styteLogin.css">
    <title>Đăng Nhập</title>
</head>
<body>
    <div class="formContainer">
        <form id="validate_form" action="login" method="post">
            <h3>Đăng Nhập</h3>
            <input type="email" name="email" id="" placeholder="Nhập Username của bạn" required>
            <input type="password" name="pasword" id="" placeholder="Nhập Password của bạn" required>
            <input type="submit" value="Đăng Nhập" class="form_btn">
            <p>Nếu không có tài khoản ?<a href="Dangky.jsp"> Đăng Ký</a></p>
        </form>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="./assers/js/validattion.js"></script>